<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime searcher</title>
    <link rel="stylesheet" href="/styles/main2.css">
</head>
<body>
    <div class="navbar"> 
        <div class="navbar-content">
            <div class="search-bar">
                <form class="search-bar-form" action="/search" role="search" method="get">
                <input type="search" name="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
              </form></div>  
      <div class="anime-buttons">
      <form action="/random" method="get">
        <input type="submit" value="random anime">
    </form>
    <form action="/" method="get">
        <input type="submit" value="Home page">
    </form>
      <form action="/popularity" method="get">
        <input type="submit" value="get animes by popularity">
    </form>
    <form action="/characters" method="get">
        <input type="submit" value="get characters by popularity">
    </form>
    </div></div>
    </div>
