*{
    margin: 0;
    padding:0;
}
body{
    background-color: rgba(0, 0, 0, 0.723);
    color: limegreen;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    text-align: center;
    justify-content: center;
}

.random-post-button{
    width: 100px;
    height: 50px;
}

.navbar{
    background-color: rgb(178, 92, 0);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

.search-bar{
    input{width: 500px;
    height: 30px;}
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; 
}
.anime-buttons{
    display: flex;
    justify-content: space-around;
    input{padding: 5px;}
    input:hover{
        cursor: pointer;
        background-color: aliceblue;
    }
}
footer{
    background-color: rgb(178, 92, 0);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
}
.column{     
    img{height: 200px;
    width: 200px;}
}
.anime-list{ 
    a{text-decoration: none;
    color: lime;}
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.anime-text{
    display: flex;
    flex-direction: column;
}
.anime-card:hover {
    background-color: var(--third-bg-color);
    color: var(--third-color);
    transform: scale(1.25) rotate3d(1, 2, 3, -5deg);
    box-shadow: 1px 1px 20px 10px var(--main-bg-color);
    transition: transform 0.5s
}
.image-details-container {
    display: flex;
}

.image-container {
    flex: 0 0 auto; /* Don't grow or shrink, initial width */
    margin-right: 20px; /* Add some space between image and details */
    margin-left: 50px;
}

footer{
    text-align: center;
    margin-top: auto;
}
